@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans", sans-serif;
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --font-sans--font-variation-settings: "opsz" 32;

  --font-display: "Noto Sans Display", sans-serif;
  --font-display--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --font-display--font-variation-settings: "opsz" 32;

  --color-whitey: oklch(0.9637 0.0187 292.61);
  --color-blackey: oklch(0.3241 0.0213 231.77);
  --color-primary: oklch(0.7005 0.1699 290.61);
  --color-primary-dark: oklch(0.317 0.0615 290.31);
  --color-secondary: oklch(0.8938 0.1663 176.58);
}
